/* VARIABLES */

:root {
	--white: #fff;
	--black: #20292f;
	--sky-blue: #aed9e0;
	--almond: #f2e8cf;
	--emerald: #a7c957;
	--burnt-sienna: #bc4749;
}

/* GENERAL */

body {
	overflow-x: hidden;
	width: 100%;

	background-color: var(--black);
}

p,
h1,
h2,
h3,
a,
label,
button,
.ql-container {
	font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
	width: 2.5em;
}

.nav-button {
	width: 5em;
}

.header-background {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 3.5em;

	background-color: var(--emerald);
}

.hidden {
	display: none;
}

#white-background {
	background-color: var(--almond);
}

#blue-background {
	background-color: var(--sky-blue);
}

/* HOME */

nav ul {
	display: flex;
	justify-content: space-between;
	gap: 1em;

	position: absolute;
	bottom: 1em;
	left: calc(50% - 40%);

	margin: 0;
	padding: 0;

	width: 80%;

	list-style-type: none;
}

/* BOTTLE */

/* classes */

.bottlehbs-button {
	position: absolute;
	right: 1em;
	float: right;

	width: 5em;
}

.bottlehbs-button:first-of-type {
	top: 5em;
}

.bottlehbs-button:nth-of-type(2) {
	top: 12em;
}

.bottlehbs-button#open-trajectory-button {
	bottom: 1em;
}

.bottle-editor {
	position: absolute;
	top: calc(50% - (3.5em + (12.5em / 1.25)));
	left: 2em;

	width: 12.5em;
}

/* ids */

body #destination {
	padding-bottom: 1em;
}

#destination ul {
	display: flex;
	justify-content: space-between;
	gap: 1em;

	margin-left: -1em;

	width: calc(100% - 3em);

	list-style-type: none;
}

#destination ul img {
	width: 4em;
}

/* CAMPFIRE */

.filled-bottle {
	position: absolute;
	top: calc(50% - (3.5em + (12.5em / 1.25)));
	left: 2em;

	width: 12.5em;
}

/* DRAFTS */

h1 {
	margin: 0.2em 0 0 1.75em;

	color: var(--white);
}

/* classes */

.back-button {
	position: absolute;
	top: 0.7em;
	left: 1em;

	width: 1.5em;
}

.write-letter {
	position: absolute;
	right: 1em;
	bottom: 1em;
	float: right;

	width: 5em;
}

.draft-list {
	display: flex;
	justify-content: space-around;

	margin: 3.2em 0 0 -0.42em;
	padding: 0;

	width: 100%;

	list-style-type: none;
	font-weight: bold;
	font-size: 1.125em;
	color: var(--almond);
}

.draft-list li {
	padding: 0;

	width: 100%;

	text-align: center;
}

.draft-list li:first-of-type p {
	padding-bottom: 1em;
	box-shadow: inset 0px -3px var(--burnt-sienna);
}

.draft-item {
	width: calc(100% - 4em);

	margin-bottom: 1em;
	border-radius: 5px;
	padding: 1em;

	background-color: var(--almond);
}

.draft-item:last-of-type {
	margin-bottom: 10em;
}

.draft-item p {
	color: var(--black);
}

.draft-item p:last-of-type {
	font-size: 0.75em;
}

/* ids */

/* LETTER */

/* classes */

.ql-snow {
	position: absolute;
	top: 4em;
	left: calc(50% - (90% / 2));

	border-radius: 5px;
	padding: 0;

	width: 90%;
}

.ql-toolbar {
	border: 0;
	padding: 0;

	text-align: center;
	background: none;
}

body .ql-toolbar.ql-snow {
	border: 0;
}

.ql-toolbar .ql-formats .ql-bold,
.ql-toolbar .ql-formats .ql-italic,
.ql-toolbar .ql-formats .ql-underline,
.ql-toolbar .ql-formats .ql-strike,
.ql-toolbar .ql-formats .ql-clean {
	margin: 0 0.75em 0 0.75em;
	border-radius: 360px;

	background-color: var(--sky-blue);
}

.ql-container {
	top: 7.5em;
	left: 0.75em;

	border: 0;
	padding: 0;

	font-size: 1em;
}

/* ids */

#editor {
	border: 0;
	border-top: 5px solid var(--black);

	height: 45em;
}

#close-button {
	position: absolute;
	top: 0.75em;
	left: 1em;

	width: 2em;
}

#close-button:hover,
#confirm-letter:hover,
#confirm-bottle:hover,
.styled-like-a:hover,
#sign-name input[type="submit"] {
	cursor: pointer;
}

#confirm-letter,
#confirm-bottle {
	position: absolute;
	top: 0.5em;
	right: 1em;
	float: right;

	border: solid 1px var(--black);
	padding: 0.5em 1.5em 0.5em 1.5em;
	box-shadow: 2px 2px var(--black);

	font-size: 1em;
	text-decoration: none;
	color: var(--almond);
	background-color: var(--burnt-sienna);
}

#confirm-letter:hover,
#confirm-bottle:hover {
	box-shadow: none;
}

/* pop-ups */

#stop,
#sign-letter,
#sign-name,
#plan-trajectory,
#destination {
	position: absolute;
	top: calc(50% - (137px / 2));
	left: calc(50% - 10em);

	margin: 0;
	border-radius: 5px;
	padding: 0;

	width: 20em;

	text-align: center;
	color: var(--white);
	background-color: var(--black);
}

#stop img,
#sign-letter img,
#sign-name img,
#plan-trajectory img,
#close-destination {
	position: absolute;
	top: 1em;
	right: 1em;
	float: right;

	width: 1.25em;
}

#stop img:hover,
#sign-letter img:hover,
#sign-name img:hover,
#plan-trajectory img:hover,
#destination img:hover {
	cursor: pointer;
}

#stop h2,
#sign-letter h2,
#plan-trajectory h2,
#destination h2 {
	margin: 0;
	border-radius: 5px 5px 0 0;
	padding: 1em 15% 0.5em 15%;

	width: 70%;

	font-weight: bold;
	font-size: 1.25em;
}

#stop p,
#sign-letter p,
#plan-trajectory p,
#destination p {
	display: flex;
	justify-content: space-around;
	align-items: center;

	margin: 0;
}

#stop a,
#sign-letter a,
#plan-trajectory a,
#destination a,
.styled-like-a {
	border: 0;
	padding: 1em 0 1em 0;

	width: 100%;

	font-size: 1em;
	text-decoration: none;
	color: var(--almond);
}

#stop a:first-of-type,
#sign-letter a:first-of-type,
#plan-trajectory a:first-of-type {
	border-radius: 0 0 0 5px;
	box-shadow: inset 3px 3px var(--burnt-sienna),
		inset -3px -3px var(--burnt-sienna);
}

#stop a:nth-of-type(2),
#sign-letter a:nth-of-type(2),
.styled-like-a {
	border-radius: 0 0 5px 0;

	background-color: var(--emerald);
}

#stop a:first-of-type:hover,
#sign-letter a:first-of-type:hover,
#plan-trajectory a:first-of-type:hover {
	background-color: var(--burnt-sienna);

	transition: 5ms;
}

#sign-name form {
	margin: 0;
	border-radius: 5px 5px 0 0;
	padding: 1em 15% 0em 15%;

	width: 70%;
}

#sign-name input[type="text"] {
	margin: 2em 0 2em 0;
	border: 0;
	border-radius: 5px;

	width: 100%;
	height: 2em;
}

#sign-name input[type="text"]:focus {
	outline: solid 3px var(--emerald);
}

#sign-name input[type="submit"] {
	position: relative;
	left: -3em;

	border: 0;
	border-radius: 0 0 5px 5px;
	padding: 1em 0em 1em 0em;

	width: 143%;

	font-size: 1em;
	text-align: center;
	color: var(--almond);
	background-color: var(--emerald);
}

/* OCEAN */
