<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="static/css/style.css" />

		<!-- Setting up Quill text editor -->
		<link
			href="https://cdn.quilljs.com/1.3.7/quill.snow.css"
			rel="stylesheet"
		/>
		<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

		<title>SandScript - Fill Up Your Bottle</title>
	</head>
	<body id="blue-background">
		<div class="header-background">

			<!-- Click on img to go to pop-up "Do you want to stop for now?" -->
			<img
				id="close-button"
				src="static/img/close-button.svg"
				alt="Stop writing your letter"
			/>

			<!-- Confirm bottle, will send you to "... do you wanna play your trajectory first?" pop-up -->
			<button id="confirm-bottle">Send bottle</button>
		</div>

		<img
			class="bottlehbs-button"
			src="static/img/camera-button.svg"
			alt="Add photo"
		/>
		<img
			class="bottlehbs-button"
			src="static/img/trinket-button.svg"
			alt="Add items"
		/>
		<img
			id="open-trajectory-button"
			class="bottlehbs-button"
			src="static/img/filter-button.svg"
			alt="Filter or plan trajectory"
		/>

		<img
			class="bottle-editor"
			src="static/img/bottle-letter-open.svg"
			alt="Your bottle that currently has a letter in it"
		/>

		<!-- POP-UPS -->

		<section id="stop" class="hidden">
			<img id="close-stop" src="static/img/close-button.svg" alt="Cancel" />
			<h2>Do you want to stop for now?</h2>
			<p>
				<a href="../">Exit</a>
				<a href="drafts">Save as draft</a>
			</p>
		</section>

		<section id="plan-trajectory" class="hidden">
			<!-- Hide the section because for dev purposes the navigation will be easier to read this way -->
			<img id="close-plan" src="static/img/close-button.svg" alt="Cancel" />
			<h2>Before you throw your bottle, do you wanna plan your trajectory first?</h2>
			<p>
				<a id="open-destination">Send it as is</a>
				<!--Sends you to "Where would you like to throw your bottle?" pop-up -->
				<button id="open-trajectory-popup" class="styled-like-a">Plan trajectory</button>
				<!--Sends you to plan trajectory form -->
			</p>
		</section>

		<section class="hidden">
			<form>
				<h1>Plan Trajectory</h1>
				<p>Age range</p>
				<!-- slider -->

				<p>Gender</p>
				<!-- checkbox -->

				<p>Languages</p>
				<!-- fill in languages + specify their profeciency -->

				<p>Interests</p>
				<!-- fill in interests -->
			</form>
		</section>

		<section id="destination" class="hidden">
			<img
				id="close-destination"
				src="static/img/close-button.svg"
				alt="Cancel"
			/>
			<h2>Where would you like to throw your bottle?</h2>
			<ul>
				<li>
					<a href="campfire">
						<img
							src="static/img/campfire-button.svg"
							alt="Button that leads to campfire page"
						/>
						Campfire
					</a>
				</li>
				<li>
					<a href="ocean">
						<img
							src="static/img/ocean-button.svg"
							alt="Button that leads to ocean page"
						/>
						Ocean
					</a>
				</li>
				<li>
					<a href="drafts">
						<img
							src="static/img/drafts-button.svg"
							alt="Button that leads to drafts page"
						/>
						Save as draft
					</a>
				</li>
			</ul>
		</section>

		<script src="/static/javascript/script.js"></script>
	</body>
</html>