<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="static/css/style.css" />
		<link rel="stylesheet" type="text/css" href="static/css/slider-quill.css" />

		<!-- Setting up Quill text editor -->
		<link
			href="https://cdn.quilljs.com/1.3.7/quill.snow.css"
			rel="stylesheet"
		/>
		<script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

		<!-- slider -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
		</script>

		<title>SandScript - Fill Up Your Bottle</title>
	</head>
	<body id="blue-background">
		<div class="header-background">

			<!-- Click on img to go to pop-up "Do you want to stop for now?" -->
			<img
				id="close-button"
				src="static/img/close-button.svg"
				alt="Stop writing your letter"
			/>

			<!-- Confirm bottle, will send you to "... do you wanna play your trajectory first?" pop-up -->
			<button id="confirm-bottle">Send bottle</button>
		</div>

		<img
			id="camera-button"
			class="bottlehbs-button"
			src="static/img/camera-button.svg"
			alt="Add photo"
		/>
		<img
			class="bottlehbs-button"
			src="static/img/trinket-button.svg"
			alt="Add items"
		/>
		<img
			id="open-trajectory-button"
			class="bottlehbs-button"
			src="static/img/filter-button.svg"
			alt="Filter or plan trajectory"
		/>

		<img
			id="bottle"
			class="bottle-editor"
			src="static/img/bottle-letter-open.svg"
			alt="Your bottle that currently has a letter in it"
		/>

		<!-- POP-UPS -->

		<section id="stop" class="hidden">
			<img id="close-stop" src="static/img/close-button.svg" alt="Cancel" />
			<h2>Do you want to stop for now?</h2>
			<div>
				<a href="../">Exit</a>
				<a href="drafts">Save as draft</a>
			</div>
		</section>

		<section id="insert-photo" class="hidden">
			<img id="close-photo" src="static/img/close-button.svg" alt="Cancel" />
			<h2>Add a photo to put into your bottle</h2>
			<div>
				<input id="insert-input" class="hidden" type="file" accept="image/*" />
				<img
					id="output"
					class="hidden"
					alt="A preview of the image you have uploaded"
				/>
				<label id="upload-photo" for="insert-input">Upload photo</label>
				<p id="confirm-photo" class="hidden">Select photo</p>
			</div>
		</section>

		<section id="plan-trajectory" class="hidden">
			<!-- Hide the section because for dev purposes the navigation will be easier to read this way -->
			<img id="close-plan" src="static/img/close-button.svg" alt="Cancel" />
			<h2>Before you throw your bottle, do you wanna plan your trajectory first?</h2>
			<div>
				<a id="open-destination">Send it as is</a>
				<!--Sends you to "Where would you like to throw your bottle?" pop-up -->
				<button id="open-trajectory-popup" class="styled-like-a">Plan trajectory</button>
				<!--Sends you to plan trajectory form -->
			</div>
		</section>

		<section id="trajectory" class="hidden">
			<img
				id="close-trajectory"
				src="static/img/close-button-black.svg"
				alt="Stop writing your letter"
			/>

			<h1>Plan Trajectory</h1>

			<form action="bottle" method="post">
				<input type="submit" value="Save settings" />

				<p>Age range</p>

				<!-- This code was taking from the following source on 15/03/2023: https://codepen.io/tylerama/pen/YwvpBW?editors=0110 -->

				<section class="range-slider container">
					<span class="output outputOne"></span>
					<span class="output outputTwo"></span>
					<span class="full-range"></span>
					<span class="incl-range"></span>
					<input
						name="rangeOne"
						value="10"
						min="0"
						max="100"
						step="1"
						type="range"
					/>
					<input
						name="rangeTwo"
						value="90"
						min="0"
						max="100"
						step="1"
						type="range"
					/>
				</section>

				<p>Gender</p>
				<div class="radio-buttons">
					<input id="radio1" type="radio" name="gender" value="male" />
					<label class="radio-option" for="radio1">Male</label>
					<input id="radio2" type="radio" name="gender" value="female" />
					<label class="radio-option" for="radio2">Female</label>
					<input id="radio3" type="radio" name="gender" value="non-binary" />
					<label class="radio-option" for="radio3">Non-binary</label>
				</div>
			</form>
		</section>

		<section id="destination" class="hidden">
			<img
				id="close-destination"
				src="static/img/close-button.svg"
				alt="Cancel"
			/>
			<h2>Where would you like to throw your bottle?</h2>
			<ul>
				<li>
					<a href="campfire">
						<img
							src="static/img/campfire-button.svg"
							alt="Button that leads to campfire page"
						/>
						Campfire
					</a>
				</li>
				<li>
					<a href="ocean">
						<img
							src="static/img/ocean-button.svg"
							alt="Button that leads to ocean page"
						/>
						Ocean
					</a>
				</li>
				<li>
					<a href="drafts">
						<img
							src="static/img/drafts-button.svg"
							alt="Button that leads to drafts page"
						/>
						Save as draft
					</a>
				</li>
			</ul>
		</section>

		<script src="/static/javascript/script.js"></script>
		<script src="/static/javascript/slider.js"></script>
	</body>
</html>