<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <title>Stranded - Fill Up Your Bottle</title>
</head>
<body>
    <a href="letter"><img src="static/img/back-button-placeholder.png" alt="Back to last page"></a>
    <img src="" alt="Add photo">
    <img src="" alt="Add items">
    <img src="static/img/confirm-button-placeholder.png" alt="Confirm">

    <form>
    <h1>Plan Trajectory</h1>
    <p>Age range</p>
    <!-- slider -->

    <p>Gender</p>
    <!-- checkbox -->

    <p>Languages</p>
    <!-- fill in languages + specify their profeciency -->

    <p>Interests</p>
    <!-- fill in interests -->
    </form>

    <!-- POP-UPS -->

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Do you want to stop for now?</p>
    <a href="../">Exit</a>
    <a href="drafts">Save as draft</a>

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Before you throw your bottle, do you wanna plan your trajectory first?</p>
    <a>Send it anyways</a>
    <a>Plan trajectory</a>

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Where would you like to throw your bottle?</p>
    <a href="campfire">Campfire</a>
    <a href="ocean">Ocean</a>
    <a href="drafts">Save as draft</a>
</body>
</html>