<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <title>Stranded - Drafts</title>
</head>
<body>
    <a href="../"><img class="back-button" src="static/img/back-button.svg" alt="Back to last page"></a>
    <h1>Drafts</h1>

    <!-- Drafts are fetched from the database -->

    <ul>
        <li>
            <p>Letters</p>
        </li>
        <li>
            <p>Bottles</p>
        </li>
    </ul>

    <a href="letter"><img class="nav-button" src="static/img/write-letter-button.svg" alt="Write letter button"></a>
</body>
</html>