<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="static/css/style.css" />

		<title>SandScript - Drafts</title>
	</head>
	<body id="black-background">
		<div class="header-background">

			<a href="../"><img
					class="back-button"
					src="static/img/back-button.svg"
					alt="Back to last page"
				/></a>

			<h1>Drafts</h1>

			<a id="confirm-letter" href="letter">Write new letter</a>
		</div>

		<!-- Drafts are fetched from the database -->

		<ul class="draft-list">
			<li>
				<p>Letters</p>
			</li>
			<li>
				<p>Bottles</p>
			</li>
		</ul>

		{{#each letters}}
			<div class="draft-item">
				<p>{{{this.text}}}</p>
				<p>- {{this.signed}}</p>
				<p>Last updated: {{this.dateUpdated}}</p>
			</div>
		{{/each}}
	</body>
</html>