<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="static/css/style.css" />

		<title>SandScript</title>
	</head>
	<body id="blue-background">
		<!-- Navigation button of home page -->

		<nav>
			<ul>
				<li>
					<a href=""><img
							class="nav-button"
							src="static/img/messages-button.svg"
							alt="Navigation button to messages"
						/></a>
				</li>
				<li>
					<a href="drafts"><img
							class="nav-button"
							src="static/img/drafts-button.svg"
							alt="Navigation button to drafts"
						/></a>
				</li>
				<li>
					<a href=""><img
							class="nav-button"
							src="static/img/profile-button.svg"
							alt="Navigation button to your profile"
						/></a>
				</li>
			</ul>
		</nav>
	</body>
</html>