<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <title>Stranded</title>
</head>
<body>
    <!-- Content of home page -->
    <img src="" alt="Click to check your mailbox">
    <img src="" alt="Click to open up a bottle">
    <img src="" alt="Click to open up a treasure chest">

    <!-- Navigation button of home page -->

    <nav>
        <ul>
            <li>
                <a href=""><img src="static/img/circle-img-placeholder.png" alt="Navigation button to messages"></a>
            </li>
            <li>
                <a href="drafts"><img src="static/img/circle-img-placeholder.png" alt="Navigation button to drafts"></a>
            </li>
            <li>
                <a href=""><img src="static/img/circle-img-placeholder.png" alt="Navigation button to your profile"></a>
            </li>
        </ul>
    </nav>
</body>
</html>