<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <title>Stranded - Write Your Letter</title>
</head>
<body>
    <section class="hidden"> <!-- Hide the section because for dev purposes the navigation will be easier to read this way -->
        <img src="static/img/close-button.svg" alt="Stop writing your letter"> <!-- Stop will lead to pop-up "Do you want to stop for now?" -->

        <!-- Text editing will be solved through a npm package, the form for this will be changed accordingly -->
        <form>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>

        <img src="" alt=""> <!-- Will lead to trajectory pop-up form (may not be added if development takes too long) -->

        <img src="static/img/confirm-button-placeholder.png" alt="Confirm"> <!-- Confirm will lead to pop-up "Do you want to sign your letter?" -->

    </section>

    <!-- POP-UPS -->

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Do you want to stop for now?</p>
    <a href="../">Back to home</a> <!-- Will be labbeled Exit, but for now this is easier to understand -->
    <a href="drafts">Save as draft</a> <!-- Will be labbeled Save as draft, but for now this is easier to understand -->

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Do you want to sign your letter?</p>
    <a href="bottle">Bottle editor</a> <!-- Will be labbeled Don't sign, but for now this is easier to understand -->
    <a href="bottle">Bottle editor</a> <!-- Will be labbeled Sign, but for now this is easier to understand -->

    <!-- Insert what name your letter will be signed under -->
    <section class="hidden"> <!-- Hide the section because for dev purposes the navigation will be easier to read this way -->
        <form>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
    </section>
</body>
</html>