<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <!-- Setting up Quill text editor -->
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet"> 
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>

    <title>Stranded - Write Your Letter</title>
</head>
<body>
    <img class="right-close-button" src="static/img/close-button.svg" alt="Stop writing your letter"> <!-- Stop will lead to pop-up "Do you want to stop for now?" -->

    <!-- Quill text editor -->
    <div id="editor"></div>

    <!-- POP-UPS -->

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Do you want to stop for now?</p>
    <a href="../">Back to home</a> <!-- Will be labbeled Exit, but for now this is easier to understand -->
    <a href="drafts">Save as draft</a> <!-- Will be labbeled Save as draft, but for now this is easier to understand -->

    <img src="static/img/close-button-placeholder.png" alt="Cancel">
    <p>Do you want to sign your letter?</p>
    <a href="bottle">Bottle editor</a> <!-- Will be labbeled Don't sign, but for now this is easier to understand -->
    <a href="bottle">Bottle editor</a> <!-- Will be labbeled Sign, but for now this is easier to understand -->

    <!-- Insert what name your letter will be signed under -->
    <section class="hidden"> <!-- Hide the section because for dev purposes the navigation will be easier to read this way -->
        <form>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
    </section>


    <script src="/static/javascript/script.js"></script>
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
</body>
</html>