<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" type="text/css" href="static/css/style.css" />

		<title>SandScript - Throw Your Bottle</title>
	</head>
	<body>
		<!-- This is the end of the route, there is no way back to the home page after this or confirm screen yet, will be ended if there is enough time left -->
		<a href="bottle"><img
				src="static/img/close-button-placeholder.png"
				alt="Cancel"
			/></a>
		<img src="" alt="Filled bottle that can be thrown" />

	</body>
</html>